<!-- Our Process -->
<section id="our-process" class="section our-process">
  <div class="container">
    <header class="section-heading">
      <h2>OTROS SERVICIOS</h2>
      <span>Muéstrate al mundo con contenidos profesionales y multilingües</span>
    </header>

    <div class="section-content">
      <div class="process">

        <!-- our-process-image -->
        <div class="our-process-image">
          <img style="padding: 20%" src="../../../assets/images/otherServices/CORRECCION.png">
          <!--<span class="ion-ios-flask-outline"></span>-->
        </div>

        <div class="our-process-text">
          <!-- our-process-text -->
          <h4>Corrección De Textos</h4>
          <p>
            Obtén textos impecables que demuestren tu profesionalismo. Corrección ortotipográfica y de estilo de los
            contenidos que quieras publicar o imprimir en español, inglés y francés.<br>
            · Control de calidad<br>
            · Revisión lingüística exhaustiva<br>
            · Puntualidad de entrega<br>


          </p>
        </div>

      </div><!-- process -->

      <!-- divider -->
      <div class="divider divider-right hidden-xs">
      </div>

      <div class="process">

        <!-- our-process-image -->
        <div class="our-process-image left">
          <img style="padding: 20%" src="../../../assets/images/otherServices/COPYWRITING.png">
        </div>

        <div class="our-process-text right">

          <!-- our-process-text -->
          <h4>Creación de contenidos – Copywriting</h4>
          <p>Obtén contenidos profesionales para tu página web o campaña publicitaria. Capta la atención del mundo
            entero con textos multilingües.<br>
            · Escritura creativa<br>
            · Comunicación persuasiva<br>
            · Adaptación cultural<br>

          </p>

        </div>
      </div><!-- process -->

      <!-- divider -->
      <div class="divider divider-left hidden-xs">
      </div>

      <div class="process">

        <!-- our-process-image -->
        <div class="our-process-image">
          <img style="padding: 20%" src="../../../assets/images/otherServices/ASESORIA.png">
        </div>

        <div class="our-process-text">

          <!-- our-process-text -->
          <h4>Asesoría cultural y lingüística</h4>
          <p>Visitar o mudarse a un país extranjero con costumbres culturales, lingüísticas y sociales puede ser
            intimidante. Déjame ayudarte a esa que esta experiencia sea placentera.<br>
            · Asesoría académica<br>
            · Acompañamiento a turistas y empresarios<br>

          </p>

        </div>
      </div><!-- process -->

      <!-- divider -->
      <div class="divider divider-right hidden-xs">
      </div>


    </div><!-- section-content -->
  </div><!-- container -->
</section>
<!-- /Our Process -->
