<!-- footer -->
<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <p class="copyright text-xs-center">&copy; 2015 Meridian Translations</p>
      </div>

      <div class="col-md-5 col-sm-4">
        <ul class="footer-social-block">
          <li><a href="https://www.facebook.com/meridiantranslations/" target="_blank"><i
            class="fa fa-facebook"></i></a></li>

          <li><a href="https://twitter.com/salomesalazart" target="_blank"><i class="fa fa-twitter"></i></a></li>

          <li><a href="https://www.linkedin.com/in/salome-salazar-m-a-97269148/" target="_blank"><i
            class="fa fa-linkedin"></i></a></li>


        </ul>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="footer-menu text-xs-center">
          <a href="#">Privacy Policy</a> | <a href="">Terms &amp; Conditions</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- #footer -->
