<!-- Fixed Top Navigation -->
<nav id="fixedTopNav" class="navbar navbar-fixed-top main-navigation " [class.navbar-solid]="isScrolled" itemscope itemtype="https://schema.org/SiteNavigationElement" >
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="ion-drag"></span>
      </button>

      <!-- Logo -->
      <div class="navbar-brand" itemscope itemtype="https://schema.org/Organization">
        <span itemprop="name" class="sr-only">Meridian Translations</span>
        <a itemprop="url" href="index.html">
          <img src="../../../assets/images/logos/Meridian_logo_banco.png" width="82" height="60" class="d-inline-block align-top">
        </a>
      </div>
      <!-- /Logo -->

    </div><!-- /.navbar-header -->


    <!-- Navigation Links -->
    <div class="collapse navbar-collapse"  id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about-us" itemprop="url">
          <span itemprop="name">Inicio</span>
        </a></li>

        <li><a href="#services" itemprop="url">
          <span itemprop="name">Servicios</span>
        </a></li>

        <li><a href="#portfolio" itemprop="url">
          <span itemprop="name">Perfil</span>
        </a></li>

        <li><a href="#team" itemprop="url">
          <span itemprop="name">Clientes</span>
        </a></li>

        <li><a href="#pricing" itemprop="url">
          <span itemprop="name">Contacto</span>
        </a></li>

      </ul>
    </div>
    <!-- /Navigation Links -->

  </div><!-- /.container -->
</nav>

