<!-- Our Process -->
<section id="our-process" class="section our-process">
  <div class="container">
    <header class="section-heading">
      <h2>TRADUCCIÓN</h2>
      <span> Que tus palabras lleguen al mundo entero</span>
    </header>

    <div class="section-content">
      <div class="process">

        <!-- our-process-image -->
        <div class="our-process-image">
          <img style="padding: 20%" src="../../../assets/images/servicesDetails/TRADUCCION.png" >
          <!--<span class="ion-ios-flask-outline"></span>-->
        </div>

        <div class="our-process-text">
          <!-- our-process-text -->
          <h4>Traducción</h4>
          <p>
            Obtén una traducción escrita impecable, fiel a tu intención, terminología, estilo y tono, en función de tu destinatario y su idioma.<br>
            ·         Puntualidad de entrega<br>
            ·         Control de calidad<br>
            ·         Estricta confidencialidad<br>

          </p>
        </div>

      </div><!-- process -->

      <!-- divider -->
      <div class="divider divider-right hidden-xs">
      </div>

      <div class="process">

        <!-- our-process-image -->
        <div class="our-process-image left">
          <img style="padding: 20%" src="../../../assets/images/servicesDetails/EDICION.png" >
        </div>

        <div class="our-process-text right">

          <!-- our-process-text -->
          <h4>Edición</h4>
          <p >Recibe un texto pulido con ortografía, gramática, estilo, puntuación y coherencia impecables. Ideal cuando no estás seguro de la calidad de la traducción que recibiste de otra fuente.<br>
            ·         Revisión exhaustiva<br>
            ·         Puntualidad de entrega<br>
            ·         Compromiso de calidad<br>
          </p>

        </div>
      </div><!-- process -->

      <!-- divider -->
      <div class="divider divider-left hidden-xs">
      </div>

      <div class="process">

        <!-- our-process-image -->
        <div class="our-process-image">
          <img style="padding: 20%" src="../../../assets/images/servicesDetails/TRADUCCIONCERTIFICADA.png" >
        </div>

        <div class="our-process-text">

          <!-- our-process-text -->
          <h4>Traducción certificada</h4>
          <p>Obtén una traducción oficial de documentos para trámites legales o públicos en Ecuador y el exterior.<br>
            ·         Certificación ATIEC - Ecuador<br>
            ·         Cualificación Nacional e Internacional<br>
            ·         Trámite Notarial<br>
          </p>

        </div>
      </div><!-- process -->

      <!-- divider -->
      <div class="divider divider-right hidden-xs">
      </div>

      <div class="process">

        <!-- our-process-image -->
        <div class="our-process-image left">
          <img style="padding: 20%" src="../../../assets/images/servicesDetails/EDICION.png" >
        </div>

        <div class="our-process-text right">

          <!-- our-process-text -->
          <h4>Subtitulaje</h4>
          <p >Haz que tu video, documental o película llegue a una audiencia global. Obtén subtítulos en español, inglés y francés, precisos y adaptados a tus propósitos.<br>
            ·         Adaptación cultural<br>
            ·         Sincronización perfecta<br>
            ·         Ajuste según el formato<br>
            <a target="_blank" href="http://festivales.buenosaires.gob.ar/2016/bafici/es/pelicula/72/finding-sofia">Aquí puedes ver una muestra de mi trabajo.</a>
          </p>

        </div>
      </div><!-- process -->

      <!-- divider -->
      <div class="divider divider-left hidden-xs">
      </div>

      <div class="process">

        <!-- our-process-image -->
        <div class="our-process-image">
          <img style="padding: 20%" src="../../../assets/images/servicesDetails/SUBTITULAJE.png" >
        </div>

        <div class="our-process-text">

          <!-- our-process-text -->
          <h4>Contenido de páginas web</h4>
          <p>Llega al mundo entero con lo que ofreces. Haz que tu página web, app, cuentas en redes sociales y productos estén disponibles en español, inglés y francés, y así llegarás a audiencias en todos los continentes.<br>
            ·         Adaptación del contenido según tu mercado objetivo<br>
            ·         Adaptación cultural para darle mayor fuerza a tu mensaje<br>
            ·         Variedad de formatos<br>

          </p>

        </div>
      </div><!-- process -->

    </div><!-- section-content -->
  </div><!-- container -->
</section>
<!-- /Our Process -->
