<!-- Header -->
<section id="home">
  <header id="header" class="header-wrapper home-parallax home-fade dark-bg header-classic bg-translatioin-bridge">
    <div class="gradient-overlay"></div>
    <div class="header-wrapper-inner">
      <div class="container">

        <div class="intro">
          <h1>MERIDIAN TRANSLATIONS</h1>
          <p>Comunicación multilingüe que une al mundo</p>

          <a href="#services" style="max-width: 400px" class="btn btn-default-o onPageNav ">Descubre la diferencia</a>
          <a href="#services" class="btn btn-default-o onPageNav">Cotiza gratis</a>

        </div><!-- /.intro -->

      </div><!-- /.container -->

    </div><!-- /.header-wrapper-inner -->
  </header>
</section>
<!-- /Header -->









