<!-- Our Process -->
<section id="interpretation-services" class="section our-process">
  <div class="container">
    <header class="section-heading">
      <h2>INTERPRETACIÓN/TRADUCCIÓN SIMULTÁNEA</h2>
      <span> Háblale a tu cliente en su idioma</span>
    </header>

    <div class="section-content">
      <div class="process">

        <!-- our-process-image -->
        <div class="our-process-image">
          <img style="padding: 20%" src="../../../assets/images/interpretationServices/SIMULTANEA.png">
          <!--<span class="ion-ios-flask-outline"></span>-->
        </div>

        <div class="our-process-text">
          <!-- our-process-text -->
          <h4>Interpretación simultánea/Interpretación de conferencias</h4>
          <p>
            En esta modalidad, los intérpretes se sitúan en cabinas insonorizadas y escuchan al ponente por medio de
            audífonos y transmiten el mensaje en el idioma objetivo hacia un micrófono en tiempo real. Esta modalidad
            requiere un nivel sumamente alto de concentración y energía. Es por eso que, según <a target="_blank"
                                                                                                  href="https://aiic.net/node/7/how-interpreters-work/lang/1">estándares
            internacionales</a>, los intérpretes trabajan en pareja y con equipo especial.<br><br>
            Ideal para conferencias, congresos, seminarios, talleres, reuniones y ceremonias.<br>
            · Comunicación clara en tiempo real<br>
            · Eventos bilingües y multilingües<br>
            · Equipo de alta tecnología<br>

          </p>
        </div>

      </div><!-- process -->

      <!-- divider -->
      <div class="divider divider-right hidden-xs">
      </div>

      <div class="process">

        <!-- our-process-image -->
        <div class="our-process-image left">
          <img style="padding: 20%" src="../../../assets/images/interpretationServices/CONSECUTIVA.png">
        </div>

        <div class="our-process-text right">

          <!-- our-process-text -->
          <h4>Interpretación Consecutiva o Acompañamiento</h4>
          <p>En la Interpretación Consecutiva o Acompañamiento el orador se detiene después de cada 1-3 minutos y da
            paso a que el intérprete (situado junto a los interlocutores) transmita el mensaje en el otro idioma. Esta
            modalidad requiere de mucha concentración y memoria.<br>
            <br>
            Ideal para visitas de campo, conferencias de prensa, reuniones pequeñas.<br>
            · Flexibilidad de movimiento<br>
            · Grupos pequeños<br>
            · No requiere equipo<br>

          </p>

        </div>
      </div><!-- process -->

      <!-- divider -->
      <div class="divider divider-left hidden-xs">
      </div>

      <div class="process">

        <!-- our-process-image -->
        <div class="our-process-image">
          <img style="padding: 20%" src="../../../assets/images/interpretationServices/SIMREMOTA.png">
        </div>

        <div class="our-process-text">

          <!-- our-process-text -->
          <h4>Interpretación Simultánea con equipo portátil</h4>
          <p>¿Tienes que movilizarte y dispones de poco tiempo para comunicarte?
            Esta modalidad te permite aprovechar el tiempo al máximo y te brinda comunicación multilingüe móvil
            simultánea.<br>
            <br>
            Ideal para visitas y reuniones de corta duración con grupos pequeños.<br>
            · Comunicación clara en tiempo real<br>
            · Flexibilidad de movimiento<br>
            · Equipos de alta tecnología<br>

          </p>

        </div>
      </div><!-- process -->

      <!-- divider -->
      <div class="divider divider-right hidden-xs">
      </div>

      <div class="process">

        <!-- our-process-image -->
        <div class="our-process-image left">
          <img style="padding: 20%" src="../../../assets/images/interpretationServices/REMOTA.png">
        </div>

        <div class="our-process-text right">

          <!-- our-process-text -->
          <h4>Interpretación remota (Videoconferencia o Teléfono)</h4>
          <p> ¿Tu cliente está en Europa y tú en Ecuador? Que ni la distancia ni el idioma sean barreras para
            comunicarse con el mundo entero.<br>
            · Desde cualquier lugar del mundo<br>
            · Cero gastos de movilización<br>
            · Comunicación inmediata<br>

          </p>

        </div>
      </div><!-- process -->

      <!-- divider -->
      <div class="divider divider-left hidden-xs">
      </div>


    </div><!-- section-content -->
  </div><!-- container -->
</section>
<!-- /Our Process -->
