<!-- Why-choose-us -->

<section id="why-choose-us" class="section why-choose-us">
  <div class="container">
    <header class="section-heading">
      <h2>Descubre la diferencia de trabajar con </h2><h2>Meridian Translations</h2>
      <!--<span>Descubre la diferencia de trabajar con Meridian Translations</span>-->
    </header>

    <div class="section-content">
      <div class="row">
        <div class="col-sm-4 why-explain-wrap">

          <!-- why-choose-us-text -->
          <h4>Estoy aquí para ayudarte</h4>
          <div class="why-explain-img">
            <img src="../../../assets/images/why-choose-us/estoy_para_ayudarte.png" alt="">
          </div>
          <div class="why-explain top top-1">
            <p>Ser fiel a tu esencia y transmitir tu mensaje al mundo son mis prioridades.</p>
          </div>

        </div><!-- col-md-4 col-sm-6 -->

        <div class="col-sm-4 why-explain-wrap">

          <!-- why-choose-us-text -->
          <h4>Más allá del servicio</h4>
          <div class="why-explain-img">
            <img src="../../../assets/images/why-choose-us/mas_alla_servicio.png" alt="">
          </div>
          <div class="why-explain top top-2">
            <p>Obtendrás consulta gratuita en todo el proceso para encontrar la solución que más se adapte a tu necesidad.</p>
          </div>

        </div><!-- col-md-4 col-sm-6 -->

        <div class="col-sm-4 why-explain-wrap">

          <!-- why-choose-us-text -->
          <h4>Calidad y experiencia</h4>
          <div class="why-explain-img">
            <img src="../../../assets/images/why-choose-us/calidad_experiencia.png" alt="">
          </div>
          <div class="why-explain top top-3">
            <p>Tendrás a una especialista de la lengua con la mejor formación y experiencia.</p>
          </div>

        </div><!-- col-md-4 col-sm-6 -->

      </div><!-- row -->

      <!-- why-choose-us-image
      <figure class="why-us-image">
        <img class="img-responsive center-block hidden-xs" src="assets/images/why-choose-us/1.png" alt="">
      </figure>-->

      <!--<div class="row">-->

        <!--<div class="col-sm-4 why-explain-wrap">-->

          <!--&lt;!&ndash; why-choose-us-text &ndash;&gt;-->
          <!--<div class="why-explain bottom bottom-1">-->
            <!--<h4>Dedicated</h4>-->
          <!--</div>-->
          <!--<p>-->
            <!--Sollicitudin velit malesuada Aliqua andit diam feugiat ex.For those who-->
          <!--</p>-->

        <!--</div>&lt;!&ndash; col-md-4 col-sm-6 &ndash;&gt;-->

        <!--<div class="col-sm-4 why-explain-wrap">-->

          <!--&lt;!&ndash; why-choose-us-text &ndash;&gt;-->
          <!--<div class="why-explain bottom bottom-2">-->
            <!--<h4>24/7 Support</h4>-->
          <!--</div>-->
          <!--<p>-->
            <!--Sollicitudin velit malesuada Aliqua andit diam feugiat ex.For those who-->
          <!--</p>-->

        <!--</div>&lt;!&ndash; col-md-4 col-sm-6 &ndash;&gt;-->

        <!--<div class="col-sm-4 why-explain-wrap last">-->

          <!--&lt;!&ndash; why-choose-us-text &ndash;&gt;-->
          <!--<div class="why-explain bottom bottom-3">-->
            <!--<h4>Enthusiastic</h4>-->
          <!--</div>-->
          <!--<p class="last">-->
            <!--Sollicitudin velit malesuada Aliqua andit diam feugiat ex.For those who-->
          <!--</p>-->

        <!--</div>&lt;!&ndash; col-md-4 col-sm-6 &ndash;&gt;-->

      <!--</div>&lt;!&ndash; row &ndash;&gt;-->
    </div><!-- section-content -->
  </div><!-- container -->
</section>
