<section id="profile" class="section blog">
  <div class="container">

    <!---->
    <header class="section-heading">
      <h2>Perfil</h2>
      <span>Conoce a la creadora de Meridian Translations</span>
    </header>
    <!---->

    <div id="blogContent" class="section-content">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="blog-post">
            <header>
              <div class="blog-element center">
                <img class="img-responsive" style="width: 250px ; height: auto; margin: auto;"
                     src="assets/images/profile/logos-us.png" alt="">
              </div>
            </header>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="blog-post">
            <header>

              <div class="blog-element center" style="width:100%; height:100% ; text-align: center">
                <img class="img-responsive" style=" margin: auto; display: block;" src="assets/images/profile/mapa.png"
                     alt="">
              </div>
            </header>

          </div>

        </div>
        <div class="col-sm-6 col-md-3">
          <div class="blog-post">
            <header>

              <div class="blog-element center">
                <img class="img-responsive" style="width: 250px ; height: auto; margin: auto;"
                     src="assets/images/profile/salome.png" alt="">
              </div>
            </header>

          </div>

        </div>

      </div>
      <div class="row" style="text-align: center">
        <div class="col-sm-6 col-md-3">

          <div class="blog-content">
            <h4><a href="blog__single__right_sidebar.html">Una especialista de la lengua</a></h4>

          </div>

        </div>
        <div class="col-sm-6 col-md-6">

          <div class="blog-content">
            <h4><a href="blog__single__right_sidebar.html">Una ciudadana del mundo</a></h4>

          </div>


        </div>
        <div class="col-sm-6 col-md-3">

          <div class="blog-content">
            <h4><a href="blog__single__right_sidebar.html">Conozcámonos más</a></h4>

          </div>

        </div>

      </div>

    </div><!--/#blogContent-->


  </div><!--/.container-->
</section>
