<!-- Service -->
<section id="services" class="section services">
  <div class="container">

    <!---->
    <header class="section-heading">
      <h2>Servicios</h2>
      <span>Servicios adaptados a tus necesidades y presupuesto</span>
    </header>
    <!---->

    <div class="section-content">
      <div class="row">
        <div class="col-sm-4">

          <!-- service -->
          <div class="service">
            <div class="service-icon text-center">
              <img src="../../../assets/images/services/TRADUCCION.png" >
            </div>
            <div class="about-service">
              <h4 class="text-center">Traducción</h4>
              <p class="text-center">Que tus palabras lleguen al mundo entero.</p>
            </div>
          </div>

        </div><!-- col-sm-4 -->

        <div class="col-sm-4">

          <!-- service -->
          <div class="service">
            <div class="service-icon text-center">
              <img src="../../../assets/images/services/INTERPRETACION.png" >
            </div>
            <div class="about-service">
              <h4 class="text-center">Interpretación</h4>
              <p class="text-center">
                Háblale a tu cliente en su idioma.
              </p>
            </div>
          </div>

        </div><!-- col-sm-4 -->

        <div class="col-sm-4">

          <!-- service -->
          <div class="service">
            <div class="service-icon text-center">
              <img src="../../../assets/images/services/OTROS_SERVICIOS.png" >
            </div>
            <div class="about-service">
              <h4 class="text-center">Otros Servicios</h4>
              <p class="text-center">
                Muéstrate al mundo con contenidos profesionales y multilingües.
              </p>
            </div>
          </div>

        </div><!-- col-sm-4 -->
      </div><!-- row -->


    </div><!-- section-content -->
  </div><!-- container -->
</section>
<!-- Service -->
